* {
  border: 0;
  margin: 0;
  padding: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

:focus, :active, a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-sixe-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: PingFang SC;
  src: url("PingFangSCRegular.ebfb95c6.woff") format("woff2"), url("PingFangSCRegular.e56618a0.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

h2 {
  text-transform: capitalize;
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

a {
  color: #907ff0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.button {
  width: 65px;
  height: 65px;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 18px;
  transition: all .3s;
  display: flex;
}

.button:hover {
  filter: brightness(95%);
}

.button:active {
  filter: brightness(90%);
  border-radius: 25%;
}

.button.button--num {
  background-color: #f6f6f6;
}

.button.button--symbols {
  background-color: #ccedff;
  font-size: 30px;
}

.button.button--result {
  background-color: #e2e0fc;
}

.button.button--ac {
  background-color: #b3f0c1;
}

body {
  color: #ffffffd9;
  background-color: #000;
  justify-content: center;
  align-items: center;
  font-family: PingFang SC;
  display: flex;
}

.wrapper {
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.container {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

@media screen and (min-width: 768px) {
  .container {
    align-items: normal;
  }
}

.header {
  background-color: #0d0d0d;
}

.header__logo {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__logo {
    align-items: normal;
  }
}

.header__img {
  max-width: 175px;
}

.header__img img {
  width: 100%;
}

.components__title {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 64px;
  padding-bottom: 25px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .components__title {
    align-items: normal;
  }
}

.components__json {
  min-width: 350px;
}

.json {
  flex-direction: column;
  display: flex;
}

.userTitle {
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  display: flex;
}

.userTitle botton {
  font-size: 20px;
  font-weight: 500;
}

#userId {
  visibility: hidden;
  z-index: -100;
  opacity: 0;
  display: none;
}

table, td, tr, th {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #fff;
  padding: 5px;
}

#table-wrapper {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.result {
  width: 100%;
  z-index: -1000;
  opacity: 0;
  visibility: hidden;
  display: none;
  overflow: hidden;
}

.result.result--active {
  z-index: 0;
  opacity: 1;
  visibility: visible;
  display: inline-table;
  overflow: visible;
}

.alert {
  flex-direction: column;
  gap: 25px;
  display: flex;
}

.alert.alert--first {
  padding: 16px 16px 90px;
}

.alert.alert--second {
  padding: 0 16px 155px;
}

.alert.alert--third {
  padding: 0 11px 16px;
}

.alert__item {
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  display: flex;
  position: relative;
}

.alert__item.alert__item--position-sp-btw {
  justify-content: space-between;
  padding: 10px 14px 10px 16px;
}

.alert__item.alert__item--large {
  align-items: flex-start;
  padding: 16px;
}

.alert__item.alert__item--border {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.alert__item.alert__item--info {
  background-color: #907ff029;
  border-color: #907ff03d;
}

.alert__item.alert__item--warning {
  background-color: #ffa62a29;
  border-color: #ffa62a3d;
}

.alert__item.alert__item--danger {
  background-color: #ee534729;
  border-color: #ee53473d;
}

.alert__item.alert__item--success {
  background-color: #3cd6a329;
  border-color: #3cd6a33d;
}

.alert__content {
  max-width: 300px;
  align-items: center;
  gap: 8px;
  display: flex;
}

.alert__content.alert__content--large {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.alert__button {
  align-items: center;
  gap: 16px;
  display: flex;
}

.components__collapse {
  border: 1px solid #ffffff1f;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
}

.collapse__accordion {
  flex-direction: column;
  display: flex;
}

.accordion__title {
  cursor: pointer;
  border-bottom: 1px solid #ffffff1f;
  justify-content: space-between;
  padding: 16px 13px;
  display: flex;
}

.accordion__button {
  color: #ffffff8c;
  background-color: #1a1a1a;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
}

.accordion__button-icon {
  transition: all .3s;
}

.accordion__content {
  max-height: 0;
  background-color: #0d0d0d;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.accordion__content p {
  padding: 16px 13px;
}

.calculator-android {
  width: 300px;
  height: 570px;
  background-color: #fff;
  border-radius: 10px 10px 20px 20px;
  grid-template-rows: 1fr 2fr;
  font-family: Roboto;
  display: grid;
}

.calculator__output {
  color: #000;
  background-color: #eaf0f7;
  border-radius: 10px 10px 20px 20px;
  grid-template-rows: 2fr 1fr;
  padding: 10px;
  display: grid;
}

.output__wrapper {
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.output__current-operand, .output__previous-operand, .output__operation {
  max-width: 280px;
  font-size: 25px;
  font-weight: 400;
}

.calculator__result {
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px 15px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
}

.calculator__button {
  grid-gap: 5px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  place-items: center;
  padding: 10px;
  display: grid;
}

/*# sourceMappingURL=index.38ec9247.css.map */
